<a href="https://colab.research.google.com/github/aldanziikri/google-colab/blob/main/latihan_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

In [ ]:
print(int(math.sqrt(25)))

5

In [ ]:
nama = "aldan zikri"
kelas = "XI PPLG 1"
tinggi = 153
isStudent = True

print(f"nama saya {nama}, kelas {kelas}, tinggi saya {tinggi} cm, apakah saya siswa? {isStudent}")

nama saya aldan zikri, kelas XI PPLG 1, tinggi saya 153 cm, apakah saya siswa? True

In [ ]:
if tinggi >= 160:
  print("diizinkan masuk")
elif tinggi >= 150:
  print("diizinkan masuk, tapi hati-hati")
else:
  print("dilarang bermain wahana ini!")

diizinkan masuk, tapi hati-hati

In [ ]:
for i in range(10):
  print(f"looping ke-{i}")

looping ke-0
looping ke-1
looping ke-2
looping ke-3
looping ke-4
looping ke-5
looping ke-6
looping ke-7
looping ke-8
looping ke-9

In [ ]:
i = 1
while i<= 10:
  print(f"looping ke-{i}")
  i += 1

looping ke-1
looping ke-2
looping ke-3
looping ke-4
looping ke-5
looping ke-6
looping ke-7
looping ke-8
looping ke-9
looping ke-10

In [ ]:
def greet(nama):
  print(f"hi {nama}")

greet("aldan")

def luas_persegi(sisi):
  return sisi * sisi

print(luas_persegi(10))

hi aldan
100

In [ ]:
nama = input("masukkan nama anda : ")
umur = input("masukkan umur anda : ")
print("==========================")
# print(f"Nama : {nama}")
# print(f"umur : {umur}")
print(f"hai nama saya {nama}, saya berumur {umur} tahun")

masukkan nama anda : aldan zikri
masukkan umur anda : 17
==========================
hai nama saya aldan zikri, saya berumur 17